
/* 
    Created on : 3 feb. 2024, 21:33:50
    Author     : Genn
*/

body {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #3E5E1D;
    text-align: center;
}

.header nav a {
    color: white;
}

.figure{
    display: block;
    margin-left: 15%;
    margin-right: 25%;
} 

.aside {
    position: fixed;
    top: 10%;
    left: 0;
    width: 10%;
    height: 90%;
    background-color: #E0E0E0;
}

.aside nav a {
    color: black;
}
.section {
    position: fixed;
    top: 10%;
    left: 10%;
    width: 90%;
    height: 90%;
    background-color: #BFE5A5;
    overflow-y: scroll;
}